
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(15, 31, 97, 0.673);
        }
        .container{
            border: 2px solid bisque;
            padding: 20px;
            border-radius: 25px;
            background-color: rgba(240, 248, 255, 0.832);
            box-shadow: 20px 20px 30px rgba(21, 18, 18, 0.362), -20px -20px 30px rgba(18, 18, 18, 0.332);
        }
        input{
            width: 300px;
            border: none;
            border-radius: 25px;
            padding: 20px;
            margin: 10px;
            background-color: transparent;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.326);
            font-size: 40px;
            text-align: right;
            cursor: pointer;
        }
        input::placeholder{
            color: black;
        }
        button{
            width: 60px;
            height: 60px;
            margin: 10px;
            border-radius: 30px;
            background-color: transparent;
            font-size: 20px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.489);
            cursor: pointer;
        }
        .equal{
            background-color: rgba(7, 180, 233, 0.656);
        }
        .operator{
            color: green;
            font-size: 20px;
        }
    